<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia perguntas e respostas</title>
</head>
<body>
    <h1>Perguntas e respostas</h1>
    <hr>
    <h2>Formulário de pergunta</h2>
</body>
</html>